# Build Folders
bin/
obj/

# Exclude environment-specific settings
appsettings.Development.json

# User-specific files
.vscode/
.idea/

# DotNet Core
project.lock.json
project.fragment.lock.json
artifacts/

Properties/

*.db